langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-chroma

chromadb

openai
tiktoken

sentence-transformers
transformers
huggingface-hub

pypdf
unstructured

aiohttp
beautifulsoup4